
div button {
    padding: 10px;
    border: 1px solid #147bc9;
    background: #147bc9;
    border-radius: 4px;
    color: #fff;
    margin-top: 20px;
    width: 30%;
    
    
  }

  form div button {
    padding: 10px;
    border: 1px solid #147bc9;
    background: #147bc9;
    border-radius: 4px;
    color: #fff;
    margin-top: 4px;
    width: 100%;
  }
  form {
    background-color: #0f5387;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 20px;
    max-width: 400px;
    width: 100%;
  
  }
  h1 {
    background-color: #0f5387;
    margin-bottom: 40px;
    text-align: center;
    color: white;
  
  }
  .container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
  
  }
 