*div {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

h1 {
  background-color: #0f5387;
  height: 10vh;
  text-align: center;
  font-family: 'Fira Sans', sans-serif;
  color: white;

}

.root {

  text-align: center;
  object-position: center;
}

body {
  width: auto;
  display: flex;
  background-color: #0962a7;
  min-width: 450px;
  size-adjust: 450px;
  justify-content: center;
  height: 100%;

}



form.flex-container {
  text-align: center;

  size-adjust: 100%;
  flex-wrap: inherit;
  padding: 10px;
  height: auto;
  box-sizing: border-box;


}



.flex-container>div {
  background: #f1f1f1;
  size-adjust: 100%;
  border-radius: 5px;
  padding: 15px;
  font-family: 'Fira Sans', sans-serif;
  text-align: center;
  justify-content: space-around;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: auto;
  box-sizing: border-box;

}

.div {
  text-align: center;
  background-color: #15576eef;


}

.botao {
  padding: 10px;
  cursor: pointer;
  background-image: linear-gradient(#15576eef, #0f5387);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 5px;
  color: rgb(86, 143, 143);
  text-align: center;
  width: auto;


  padding: 20px;

}

div#root {
  size: 450px;
  text-align: center;

  object-position: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100vh;
  padding: 5px;
}


.flex-container>div {
  background-color: #0f5387;
  color: white;
  padding: 20px;

}

input.input {
  background-color: #0f5387;
  color: rgb(86, 143, 143);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 5px;
}

select {
  background-image: linear-gradient(#15576eef, #0f5387);
  color: rgb(86, 143, 143);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.root,
h1 {
  padding-top: 100px;
}

button.botao {
  width: 30%;
}