* {
  font-family: 'Fira Sans', sans-serif;
  margin: 0;
  padding: 0;
}

div.container {
  background-color: #f1f1f1;
}

.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;

}

h1 {
  background-color: #0f5387;
  margin-bottom: 40px;
  text-align: center;
  color: white;

}

form {
  background-color: #0f5387;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 20px;
  max-width: 400px;
  width: 100%;

}


form div label {
  display: flex;
  flex-direction: column;
  text-align: left;
  color: #fff;
}
form div select,


form div input {
  padding: 10px;
  border: 1px solid #147bc9;
  background: transparent;
  border-radius: 4px;
  color: #fff;
  margin-top: 4px;
}
form div select{
  background-color: #0f5387;
}

form div button {
  padding: 10px;
  border: 1px solid #147bc9;
  background: #147bc9;
  border-radius: 4px;
  color: #fff;
  margin-top: 4px;
  width: 100%;
}

.container-result {
  margin-top: 20px;
  background-color: #0f5387;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 20px;
  max-width: 400px;
  width: 100%;
  color: white;
}
